// Imports
@import "../bootstrap-5.3.2/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');

//
// font-family: 'Lilita One', sans-serif;
// font-family: 'Rubik', sans-serif;
//

// Codigo General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
.h1-carrusel {
    text-align: start;
    font-family: 'Lilita One', sans-serif;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
}
.h2-carrusel {
    text-align: start;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-style: italic;
    font-weight: 600;
    color: #D12314;
}
.h1 {
    text-align: start;
    font-family: 'Lilita One', sans-serif;
    font-size: 48px;
    line-height: 55px;
    color: #D12314;
}
.h2 {
    font-family: 'Lilita One', sans-serif;
    font-size: 48px;
    line-height: 55px;
    color: #D12314;
}
.h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-style: italic;
    font-weight: 600;
    color: #361C07;
}
.p {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #361C07;
}
.boton {
    background-color: #D6B200;
    padding: 12px 24px;
    border-radius: 22px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: #FFFFFF;
    transition: all ease-in-out 200ms;
}
.boton-disabled {
    opacity: 50%;
    background-color: #D6B200;
    padding: 12px 24px;
    border-radius: 22px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: #FFFFFF;
    transition: all ease-in-out 200ms;
}
.boton:hover {
    padding: 12px 50px;
    border: #FFFFFF 2px solid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;
}

// Header 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 100;
    svg {
        margin-top: -20px;
    }
}
.navbar {
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.5)!important;
    --bs-navbar-toggler-icon-bg: url(../img/nav-icon.svg)!important;
    .container {
        max-width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
    background-color: #D12314 !important;
    height: 120px;
    .navbar-nav {
        width: 70%;
        display: flex;
        justify-content: space-between;
        .nav-link {
            font-family: 'Lilita One', sans-serif;
            font-size: 28px; 
            color: #ffffff;
        }
    }
    .nav-link.active {
        color: #D6B200 !important;
    }
    .nav-link:hover {
        color: #D6B200
    }
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Carrusel */
.carousel-control-prev-icon {
    background-image: url(../img/awesome-angle-left.svg);
}
.carousel-control-next-icon {
    background-image: url(../img/awesome-angle-right.svg);
}

.carousel-top-inicio {
    top: -60px;
    z-index: 0;
    background-image: url(../img/carrusel-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-top-inicio .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 15%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-top-inicio .carousel-caption {
    top: 44%;
    right: 50%;
}

.productos-main {
    margin-top: 150px;
}

.productos {
    .productos-d {
        opacity: 50%;
    }
    span {
        &.h1 {
            color: #361C07;
        }
    }
    .productos-p {
        transition: all ease-in-out 500ms;
    }
    .productos-p:hover {
        transform: scale(1.1);
    }
}

.nuestras-tiendas {
    .nuestras-tiendas-t {
        transition: all ease-in-out 500ms;
    }
    .nuestras-tiendas-t:hover {
        transform: scale(1.1);
    }
}

.services {
    .p {
        padding: 0 20%;
    }
}

.stgo-slider {
    margin-top: 250px;
}

.bgch2{
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url(../img/bgcho2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h2{
        transform: rotate(-3deg);
        font-size: 65px;
        margin-top: -30px;
        color: #ffffff;
        font-weight: 800;
        
    }
    .h2hi{
        font-size: 55px;
    }
}

.bgch3{
    text-align: center;
    position: relative;
    top: -220px;
    height:100vh;
    width: 100%;
    background-image: url(../img/bgcho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2{
        transform: rotate(-3deg);
        margin-top: -100px;
        font-size: 65px;
        color: #ffffff;
        font-weight: 800;
        
    }
    .h2hi{
        font-size: 55px;
    }
    
}

.bgcho{
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    top: -85px;
    height: 650px;
    width: 100%;
    background-image: url(../img/banner-cohete-png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-top {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    top: -85px;
    height: 650px;
    width: 100%;
    background-image: url(../img/banner-top-png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h2{
        transform: rotate(3deg);
        font-size: 75px;
        color: #ffffff;
        font-weight: 800;
        
    }
    .h2hi{
        font-size: 65px;
    }  
}

.banner{
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    margin: 200px 0;
    height: 650px;
    width: 100%;
    background-image: url(../img/banner-png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h2{
        transform: rotate(3deg);
        font-size: 75px;
        color: #ffffff;
        font-weight: 800;
        
    }
    .h2hi{
        font-size: 65px;
    }  
}

.nosotros{
    h2{
        color: #D12216;
        font-size: 45px;
        font-weight: 300;
        margin-bottom: 70px;
    }
}

.tiendas{
    margin-top: -200px;
}

.services2{
    margin-bottom: 30px;
    padding: 0px 80px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2{
        margin-top: -70px;

    }

    h3{

        font-weight: 100;

        font-size: 20px;
        color: #C66819;
    }

    h4{
        font-size: 15px;
    }

    p{
      margin-bottom: 120px;



    }
 
}

.producto {
    margin: 150px 0;
    margin-bottom: 300px;
    .h3 {
        color: #D12314;
    }
}

footer {
    margin-top: 300px;
    svg {
        margin-bottom: -10px;
    }
}

.footer {
    min-height: 425px;
    background-color: #592E0A;
    a {
        img {
            margin-bottom: 20px;
        }
        &.p-footer:hover {
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            color: #8b8b8b;
            margin: 0;
        }
    }
    .row {
        width: 100%;
        margin: 0 10%;
    }
}

.h2-footer {
    display: inline;
    text-align: start;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-style: italic;
    font-weight: 600;
    color: #ffffff;
}

.p-footer {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

